@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.connectwalletfont{
          font-family: 'VT323', monospace;
          font-size:24px;
          font-weight:530;
          padding: auto;
}